.featured {
    height: 100vh;
}

.featured--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right,  #111  15%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
}


.featured--name {
    font-size: 70px;
    font-weight: bold;
}

.featured--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.featured--points, .featured--year {
    margin-right: 15px;
    display: inline-block;

}

.featured--points {
    color: #46d363
}

.featured--description {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 70%;
}

.featured--button {
    margin-top: 15px;
}

.featured--watchbutton, .featured--mylistbutton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease(0.2);
}

.featured--watchbutton {
    background-color: #fff;
    color: #000;
}

.featured--mylistbutton {
    background-color: #333;
    color: #fff;
}

.featured--watchbutton:hover, .featured--mylistbutton:hover {
    opacity: 0.7;
}

.featured--genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}


@media (max-width: 760px) {
    .featured {
        height: 80vh;
    }

    .featured--name {
        font-size: 40px;
    }

    .featured--info {
        font-size: 16px;
    }

    .featured--description {
        margin-right: 25px;
        font-size: 14px;
        max-width: 100%;
    }

    .featured--watchbutton, .featured--mylistbutton, .featured--genres {
        font-size: 16px;
    }
    
}